.App{
    text-align: center;
    align-items: center;
    margin: 100px 100px 100px 550px;
};
.title{
    font-weight: bold;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bioo{
    color: brown;
    font-weight:500;
};
